#calculator-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;

  #description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 0 0 40px;

    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 890px) {
  #calculator-page {
    flex-direction: column;
    gap: 50px;

    #description {
      padding: 0;
    }
  }
}
