@import 'variables';

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 10%;
  height: 50px;
  background-color: $navbar-background;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
