.content {
  padding: 90px 10% 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 700px) {
  .content {
    padding-top: 120px;
  }
}
